<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <h1>Locaprio</h1>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
{{#if user}}

    <div class="navbar-end">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Menu
        </a>

        {{#if user.role == "Locataire"}}
        <div class="navbar-dropdown">
          <a href="/profiloc"class="navbar-item">
            Profil
          </a>


          {{else}}


          <a href="/profilpro" class="navbar-item">
            Profil
          </a>
          <a href="/profilpro" class="navbar-item">
            Logement(s)
          </a>

          {{/if}}


          <a href="/logout" class="navbar-item">
            logout
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

{{else}}

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">

        <a  href="/creacompte" class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a href="/connexion" class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>

{{/if}}

  </div>
</nav>
