body {
  background-color: #f7f7f7 !important;
}

.hero {
  margin-top: 5% !important;
}

#item {
  color: #fff;
  margin-top: 7px !important;
  margin-left: -6% !important;
  margin-right: 6% !important;
}

.wrapper {
  display: flex;
  width: 50%;
  height: auto;
}

.table {
  max-width: 100vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  margin: 20px !important;
}

.filtres h3 {
  padding: 5%;
  font-size: 2em;
  text-decoration: underline;
}

.btnform {
  padding: 1% 0 0 0;
}

.panel-heading {
  font-size: 3em;
}

.panel-block {
  padding: 4% !important;
  background-color: #fafafa;
  font-size: 1.2em;
}

.logohouse {
  width: 5%;
  margin-left: 2%;
  margin-top: 1%;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.logonav {
  width: 7%;
}

.logotext {
  width: 19%;
}

.cardcloseup .card {
  width: 100% !important;
}

.card {
  height: auto !important;
  width: 400px !important;
  padding: 1%;
}

.btnMargin {
  margin: 0 0 2% 0;
}

/*# Sign up */
#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f7f7f7;
}
#login .login-card {
  background: #fff;
  width: 24rem;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);
}

#login .login-card .card-title {
  background-color: #00b89c;
  padding: 2rem;
}
#login .login-card .card-title h1 {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}
#login .login-card .content {
  padding: 3rem 2.5rem 5rem;
}
#login .login-card .special-input,
#login .login-card .sepc2 {
  display: block;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1.75rem;
  padding: 0.25rem 0;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  transition: all 0.5s;
}
#login .login-card .special-input:hover,
#login .login-card .sepc2:hover {
  border-color: #7a7a7a;
}
#login .login-card .special-input:active,
#login .login-card .special-input:focus,
#login .login-card .sepc2:active,
#login .login-card .sepc2:focus {
  border-color: #00d1b2;
}
#login .login-card .checkbox {
  color: #b5b5b5;
  font-size: 0.8rem;
}
#login .login-card .checkbox span {
  margin-left: 0.5rem;
}
#login .login-card a {
  font-size: 0.8rem;
}
#login .login-card .options {
  color: #b5b5b5;
  margin-bottom: 1.5rem;
}
#login .login-card button {
  cursor: pointer;
  font-size: 1.2rem;
  color: #00d1b2;
  border-radius: 4rem;
  display: block;
  width: 100%;
  background: transparent;
  border: 2px solid #00d1b2;
  padding: 0.9rem 0 1.1rem;
  transition: color 0.5s, border-color 0.5s;
}
#login .login-card button:hover,
#login .login-card button:focus {
  color: #009e86;
  border-color: #009e86;
}
#login .login-card button:active {
  transform: translateY(1px);
}

label {
  cursor: pointer;
}

.regular-checkbox {
  display: none;
}

.regular-checkbox + label {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 7px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox:checked + label {
  background-color: #e9ecee;
}

.regular-checkbox:checked + label:after {
  content: "\2714";
  font-size: 11px;
  position: absolute;
  top: 0;
  left: 3px;
  color: #b5b5b5;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/*# form creation annonce */
#annonce {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f7f7f7;
}
#annonce .annonce-card {
  background: #fff;
  width: 74rem;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);
}

#annonce .annonce-card .card-title {
  background-color: #00b89c;
  padding: 2rem;
}
#annonce .annonce-card .card-title h1 {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}
#annonce .annonce-card .content {
  padding: 3rem 2.5rem 5rem;
}
#annonce .annonce-card .special-input,
#annonce .annonce-card .sepc2 {
  display: block;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1.75rem;
  padding: 0.25rem 0;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  transition: all 0.5s;
}
#annonce .annonce-card .special-input:hover,
#annonce .annonce-card .sepc2:hover {
  border-color: #7a7a7a;
}
#annonce .annonce-card .special-input:active,
#annonce .annonce-card .special-input:focus,
#annonce .annonce-card .sepc2:active,
#annonce .annonce-card .sepc2:focus {
  border-color: #00d1b2;
}
#annonce .annonce-card .checkbox {
  color: #b5b5b5;
  font-size: 0.8rem;
}
#annonce .annonce-card .checkbox span {
  margin-left: 0.5rem;
}
#annonce .annonce-card a {
  font-size: 0.8rem;
}
#annonce .annonce-card .options {
  color: #b5b5b5;
  margin-bottom: 1.5rem;
}
#annonce .annonce-card button {
  cursor: pointer;
  font-size: 1.2rem;
  color: #00d1b2;
  border-radius: 4rem;
  display: block;
  width: 100%;
  background: transparent;
  border: 2px solid #00d1b2;
  padding: 0.9rem 0 1.1rem;
  transition: color 0.5s, border-color 0.5s;
}
#annonce .annonce-card button:hover,
#annonce .annonce-card button:focus {
  color: #009e86;
  border-color: #009e86;
}
#annonce .annonce-card button:active {
  transform: translateY(1px);
}

/*# Page profil */
#wrapperProfil {
  margin: 2% 15%;
  background-color: #fff !important;
}
#profil {
  margin-bottom: 0px !important;
}
#wrapperDossier {
  margin: 2% 15%;
  background-color: #fff !important;
}
#wrapperGarant {
  margin: 2% 15%;
  background-color: #fff !important;
}

.cardGarant {
  padding: 5% 10% 4% 4% !important;
  text-align: justify;
}

#navProfil {
  background-color: #3c596a !important;
}
#navtab a {
  color: #ffffff !important;
  border-bottom-color: #ffffff !important;
}
/*# sourceMappingURL=style.css.map */
