<section id="categorie">
  <h1>Check out apparts in Paris</h1>
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="/images/julien.jpg" alt="Placeholder image" width="55px" height="auto">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Julien Fabre</p>
            </div>
          </div>
          <br>
          <div class="content">
            PARIS 18E
            <br>Studio au pied de Montmartre</br> 600€
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/apartment.png" alt="Placeholder image">
          </figure>
        </div>
      </div>
    </div>
  </section>
