


  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Découvrez l'ensemble des logements disponibles.
        </h1>
        <h2 class="subtitle">
          Trouvez un appartement n'a jamais été aussi simple.
        </h2>
      </div>
    </div>
  </section>
  <section>
    <div class="columns">
      <div class="column is-one-fifth">

      </div>
      <div class="column">
        <div class="table">
          {{#each apparts}}
              <td>{{> card this}}</td>
            {{/each}}
        </div>
      </div>


    </div>
  </section>
