<section id="categorie">
  <h1>Check out apparts in Paris</h1>

<div class="columns">




<table class="table">
  <tbody>
    {{#each apparts}}
<tr>
  <td>{{> card this}}</td>
  <td></td>
  <td></td>
</tr>





    {{/each}}

  </tbody>
</table>
</div>
  </section>
