
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        Plateforme de mise en relation 2.0 pour trouver son logement.
      </h2>
      <h2 class="subtitle">
        Plus qu'on site immobilier, une vériable agence immobilière en ligne pour se loger.
      </h2>
    </div>
  </div>
</section>
