
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <img class="logo" src="/images/iconelocaprio.png" alt="Placeholder image" style="height:200px; weight:300px">
      <img class="locaprio" src="/images/locaprio.png" alt="Placeholder image" style="height:200px; weight:300px">
    <div class="container">
      <h1 class="title"></h1>
      <h2 class="title">
        <br>
        Plateforme de mise en relation 2.0 pour trouver son logement.
        </br>
      </h2>
      <h2 class="subtitle">
        Plus qu'un site immobilier, une vériable agence immobilière en ligne pour se loger.
      </h2>
    </div>
  </div>
</section>
