
<section>
  <div id="map" style="height:800px; width:800px;"></div>
     <script>
       var map;
       function initMap() {
         map = new google.maps.Map(document.getElementById('map'), {
           center: {lat: -34.397, lng: 150.644},
           zoom: 8
         });
       }
     </script>

     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC55RnKpPf0MssjRk6P5mqq2YGXAa7PXug&callback=initMap"
     async defer></script>






  <script type="text/javascript" src="" charset="utf-8">
  var key = "AIzaSyC55RnKpPf0MssjRk6P5mqq2YGXAa7PXug";

  </script>
</section>
