
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Bienvenue {{user.firstName}}
      </h1>
      <h2 class="subtitle">
        Modifier vos informations.
      </h2>
    </div>
  </div>
</section>
<section>



  <nav class="panel" id="crea2">
    <div class="panel-heading">
      Mes informations
    </div>
    <div class="panel-block">
       <h4>Prénom : </h4>  <p> {{user.firstName}}</p>
    </div>
    <div class="panel-block">
    <h4>Nom : </h4> <p>{{user.lastName}}</p>
    </div>
    <div class="panel-block">
      <h4>Email : </h4>  <p> {{user.email}}</p>
    </div>

  <div class="panel-block">
      <a href="editProfil" class="button is-link is-outlined btnform ">
       Editer
     </a>

    </div>
  </nav>
