<h1>Profil locataire</h1>

  <p class="panel-tabs">
    <a class="is-active">Modifier le profile</a>
    <a>Confiance et vérification</a>
    <a>Mes favoris</a>
    <a>Créer mon dossier</a>
  </p>
  <a class="panel-block is-active">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    Prénom
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    Nom
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    Adresse e-mail
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    Date de naissance
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-code-branch" aria-hidden="true"></i>
    </span>
    Numéro de téléphone
  </a>

  <div class="panel-block">
    <button class="button is-link is-outlined is-fullwidth">
      Enregistrer
    </button>
  </div>
</nav>