
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Profil locataire
      </h1>
      <h2 class="subtitle">
        Modifier vos informations.
      </h2>
    </div>
  </div>
</section>
<section>
  <p class="panel-tabs">
    <a class="is-active">Modifier le profile</a>
    <a>Confiance et vérification</a>
    <a>Mes favoris</a>
    <a>Créer mon dossier</a>
  </p>
  <a class="panel-block is-active">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    Prénom: {{user.firstName}}
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    Nom: {{user.lastName}}
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    Adresse e-mail: {{user.email}}
  </a>

  <div class="panel-block">
    <button class="button is-link is-outlined is-fullwidth">
      Enregistrer
    </button>
  </div>
</nav>
