
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  font-size:32px!important;
  font-weight: bold!important;
  margin: 4% 0 2% 0!important;
  text-align: center;
}

.panel-heading{
  background-color: #24DBCD!important;
  color: white!important;
}
#crea1{
  margin: 4% 20% 4% 20%;
}
#crea2{
  margin: 4% 30% 4% 30%;
}

#section1 {
  margin: 5% 2% 5% 2%;
}

.transport {
  width: 40px;
  height: 40px;
  float:left;
  margin-right: 0.3em;
  margin-top: -0.5em;
}

.contenta {
  list-style: none;
}
